<html>
    <head>
        <title>Main page</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
        <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    </head>
    <body>
        <h2>Intelligent Outage Detection Project Dashboard</h2>
            <p><a href="/database/getfrequentexceptions">Get Frequent Exceptions</a></p>
            <p><a href="/database/getnewexceptions">Get New Exceptions</a></p>
            <p><a href="/database/mark">Mark Known Exceptions</a></p>
            <p><a href="/database/parameters">Get / Set Application Parameters</a></p>


    </body>
</html>